h4{font-size: 1.2rem; font-family: headerText; text-transform: uppercase; letter-spacing: 1px; color: var(--color_brown); font-weight: normal;}
.buttons button{
    background-color: var(--color_beige);
    border: solid 1px var(--color_brown);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;
}
.buttons{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    background-color: var(--color_beige);
}
.slayders{
    height: 80%;
    position: relative;
    background-color: var(--color_beige);

    display: flex;
    justify-content: center;
    align-items: center;
}
.card1{
    background-color: var(--color_beige);
    height: 70%;
    width: 90%;
    
}
.slayders h2, h4{padding: 20px; text-align: center;}
.slayders p{padding: 30px; text-align: center;}

.treck{
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.card1{
    flex-shrink: 0;
    width: 100%;
    padding: 20px 30px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}