.header img{
    width: 400px;

    
}
.header{
    height: 105%;
    color: var(--color_white);
    background-image: url(../img/welcome.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
header p{
    padding: 40px 20px 40px 20px;
}