.zapis_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.zapis{
    background-image: url(../img/butter.jpg);
    height: 650px;
}
.zapis_block{
    width: 600px;
    height: 600px;
    backdrop-filter: blur(8px) brightness(0.95);
    border-radius: 10%;
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: center;
    margin: 25px 0;
}
.zapis_block > *{
    grid-column-start: span 2;
}
.zapis_block p:nth-child(2), .zapis_block p:nth-child(3){
    grid-column-start: span 1;
}
.zapis_block h2{
    color: var(--color_beige);
    padding-top: 20px;
}
.zapis_block p{
    color: var(--color_white);
    
}
.zapis_block button{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: var(--color_white);
    border: none;
    color: #a5998b;
    text-align: center;
    position: relative;
    left: 41%;
    letter-spacing: 1px;
}
.zapis_block input{
    border: none;
}